# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Database files
*.sqlite3
*.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/

# Distribution / packaging
.Python
env/
venv/
dist/
build/

